[Desktop Entry]
Version=0.2
Encoding=UTF-8
Name=chordV
GenericName=chordv
Comment=chord generator for song
Exec=chordV
Icon=/usr/share/chordv/chordv.svg
Terminal=false
Type=Application
Categories=Application;Office;
Name[fr_FR]=chordV
