[Desktop Entry]
Version=0.8.3
Encoding=UTF-8
Name=chordV
GenericName=Chord generator
GenericName[fr]=Générateur d'accords
Comment=Chord generator for song
Comment[fr]=Générateur d'accords pour chansons
Exec=chordV
Icon=/usr/share/chordv/chordv.svg
Terminal=false
Type=Application
Categories=Audio;AudioVideo
