Package: chordv-dbgsym
Package-Type: ddeb
Source: chordv
Version: 0.4
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Gilles Maire <gilles@gillesmaire.com>
Installed-Size: 8955
Depends: chordv (= 0.4)
Section: debug
Priority: optional
Description: debug symbols for chordv
Build-Ids: 57ee5c093d7dc4a1ccffb2fa26b542b0cd2200d6
