Package: chordv-dbgsym
Package-Type: ddeb
Source: chordv
Version: 0.2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Gilles Maire <gilles@gillesmaire.com>
Installed-Size: 8448
Depends: chordv (= 0.2)
Section: debug
Priority: optional
Description: debug symbols for chordv
Build-Ids: 99ef8c61008b4726e416e57bd2e6dfb3192e6c22
