Package: chordv
Version: 0.1
Architecture: amd64
Maintainer: Gilles Maire <gilles@gillesmaire.com>
Installed-Size: 1346
Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0), libpodofo0.9.4, libqt5core5a (>= 5.7.0), libqt5gui5 (>= 5.0.2) | libqt5gui5-gles (>= 5.0.2), libqt5sql5 (>= 5.0.2), libqt5widgets5 (>= 5.4.0), libstdc++6 (>= 5.2)
Section: Multimedia
Priority: optional
Homepage: http://www.gillesmaire.com/tiki-index.php?page=chordV
Description: ChordPro studio to produce songs in many output format.
 ChordPro provides a chordpro editor to write chord in songs.
 It provides a chord designer and allows to set the fonts and options
 of all the output.
 The output formats are text only PDF, text + chord PDF or only chords in
 grid.
