Package: chordv-dbgsym
Package-Type: ddeb
Source: chordv
Version: 0.2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Gilles Maire <gilles@gillesmaire.com>
Installed-Size: 8444
Depends: chordv (= 0.2)
Section: debug
Priority: extra
Description: Debug symbols for chordv
Build-Ids: c9c54d364bb1961026a332102e00ec1a45be6618
